.partners {
  padding: 20px 0;
  background-color: white;
  overflow: hidden;
  position: relative;
}

.partners-slider {
  display: flex;
  gap: 80px;
  animation: scroll 30s linear infinite; 
  white-space: nowrap;
  align-items: center;
}

.partner-logo {
  height: 60px;
  object-fit: contain;
  flex-shrink: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Mobile  */
@media (max-width: 480px) {
  .partners-slider {
    animation: scroll 20s linear infinite; 
    gap: 40px;
  }

  .partner-logo {
    height: 40px;
  }
}

/* Tablette  */
@media (min-width: 481px) and (max-width: 767px) {
  .partners-slider {
    animation: scroll 80s linear infinite; 
    gap: 60px;
  }

  .partner-logo {
    height: 50px;
  }
}

/* Desktop reste à 30s */
@media (min-width: 768px) {
  .partners-slider {
    animation: scroll 30s linear infinite;
    gap: 80px;
  }

  .partner-logo {
    height: 60px;
  }
}
